<%- include("header") -%>
<style>
    h2, p{
        margin: auto;
        width: 10%;
    }
    p{
        margin-bottom: 100px;
    }
</style>
    <h2>About us</h2>
    <p>TodoList v1 is created to help people plan their day with user friendly UI and easy to use experience.</p>
<%- include("footer") -%>